html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(94, 170, 246);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: aliceblue;
}

.nav-link {
    background-color: dodgerblue;
    color: white;
    margin: 20px 20px 20px 10px;
    float: right;
    position: relative;
    right: 0;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

.form-wrapper {
    margin-top: 100px;
    background-color: white;
    width: 30%;
    margin: 10% 40% 20% 35%;
    border-radius: 4px;
}

.form-input {
    margin: 20px 20px 20px 20px;
    width: 90%;
    float: center;
    font-size: 35px;
}

#submit-button {
    background-color: dodgerblue;
    color: white;
    margin: 5% 10% 0% 15%;
    width: 70%;
    float: center;
    font-size: 35px;
}

h1 {
    margin: 50% 0% 0% 40%;
}

img {
    margin: 10% 0% 10% 9%;
}